{include file="public/header" /}
<style>
    .nav-tabs>li>a {
        color: #1ab394;
        font-weight: 600;
        padding: 10px 20px 10px 25px;
    }
</style>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <!-- Panel Other -->
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <ul class="nav nav-tabs">
                <li class="active"><a href="{:url('index')}">用户列表</a></li>
            </ul>
        </div>
        <div class="ibox-content">
            <!--搜索框开始-->
            <div class="row">
                <div class="col-sm-12">
                    <div  class="col-sm-2" style="width: 100px">
                        <div class="input-group" >
                            <a href="{:url('add_member')}"><button class="btn btn-outline btn-primary" type="button">添加管理员</button></a>
                        </div>
                    </div>
                    <form name="admin_list_sea" class="form-search" method="post" action="{:url('index')}">
                        <div class="col-sm-3">
                            <div class="input-group">
                                <input type="text" id="key" class="form-control" name="key" value="{$val}" placeholder="輸入需査詢的用戶帳號" />
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> 搜索</button>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!--搜索框结束-->
            <div class="hr-line-dashed"></div>
            <div class="example-wrap">
                <div class="example">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr class="long-tr">
                            <th width="9%">账号</th>
                            <th width="9%">昵称</th>
                            <th width="5%">手机号</th>
                            <th width="5%">登录次数</th>
                            <th width="6%">状态</th>
                            <th width="10%">操作</th>
                        </tr>
                        </thead>
                        <script id="list-template" type="text/html">
                            {{# for(var i=0;i<d.length;i++){  }}
                            <tr class="long-td">
                                <td>{{d[i].account}}</td>
                                <td>{{d[i].nickname}}</td>
                                <td>{{d[i].mobile}}</td>
                                <td>{{d[i].login_num}}</td>
                                <td>
                                    {{# if(d[i].status==1){ }}
                                    <a class="red" href="javascript:;" onclick="member_status({{d[i].id}});">
                                        <div id="zt{{d[i].id}}"><span class="label label-info">开启</span></div>
                                    </a>
                                    {{# }else{ }}
                                    <a class="red" href="javascript:;" onclick="member_status({{d[i].id}});">
                                        <div id="zt{{d[i].id}}"><span class="label label-danger">禁用</span></div>
                                    </a>
                                    {{# } }}
                                </td>
                                <td>
                                    <a href="javascript:;" onclick="edit_member({{d[i].id}})" class="btn btn-primary btn-outline btn-xs">
                                    <i class="fa fa-paste"></i> 编辑</a>&nbsp;&nbsp;
                                    <a href="javascript:;" onclick="del_member({{d[i].id}})" class="btn btn-danger btn-outline btn-xs">
                                    <i class="fa fa-trash-o"></i>删除用户</a>
                                </td>
                            </tr>
                            {{# } }}
                        </script>
                        <tbody id="list-content"></tbody>
                    </table>
                    <div id="AjaxPage" style=" text-align: right;"></div>
                    <div id="allpage" style=" text-align: right;"></div>
                </div>
            </div>
            <!-- End Example Pagination -->
        </div>
    </div>
</div>
<!-- End Panel Other -->
</div>

<!-- 加载动画 -->
<div class="spiner-example">
    <div class="sk-spinner sk-spinner-three-bounce">
        <div class="sk-bounce1"></div>
        <div class="sk-bounce2"></div>
        <div class="sk-bounce3"></div>
    </div>
</div>
<!--模态1-->
<div class="modal fade" id="myModal1"  role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">充值余额</h4>
            </div>
            <div class="modal-body" id="ajax-data">
                {include file="member/recharge_money"}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{include file="public/footer" /}

<script type="text/javascript">

    //laypage分页
    Ajaxpage();
    function Ajaxpage(curr){
        var key=$('#key').val();
        var type = '{$type}';
        $.getJSON('{:url("Member/index")}', {page: curr || 1,key:key,type:type}, function(data){
            $(".spiner-example").css('display','none'); //数据加载完关闭动画
            if(data==''){
                $("#list-content").html('<td colspan="20" style="padding-top:10px;padding-bottom:10px;font-size:16px;text-align:center">暂无数据</td>');
            }else{
                var tpl = document.getElementById('list-template').innerHTML;
                laytpl(tpl).render(data, function(html){
                    document.getElementById('list-content').innerHTML = html;
                });
                laypage({
                    cont: $('#AjaxPage'),//容器。值支持id名、原生dom对象，jquery对象,
                    pages:'{$allpage}',//总页数
                    skip: true,//是否开启跳页
                    skin: '#1AB5B7',//分页组件颜色
                    curr: curr || 1,
                    groups: 3,//连续显示分页数
                    jump: function(obj, first){
                        if(!first){
                            Ajaxpage(obj.curr)
                        }
                        $('#allpage').html('第'+ obj.curr +'页，共'+ obj.pages +'页');
                    }
                });
            }
        });
    }

    //编辑会员
    function edit_member(id){
        var type = "{$type}";
        if(type){
            location.href = '../../edit_member/id/'+id+'.html';
        }else{
            location.href = './edit_member/id/'+id+'.html';
        }
    }


    //充值
    var RECHARGE_URL = "/admin/member/recharge_money";
    var RESETPSS_URL = "/admin/member/reset_password";  //重置密码
    var RECHAR_URL = "/admin/member/recharge"; //充值
    let rtype = 0;
    function recharge_money(id){
        $.post(RECHARGE_URL,{id:id},function(res){
            if(res) {
                $("#ajax-data").html(res);
                $(document).ready(function(){
                    $("#cz").click(function(){
                        layer.prompt({
                            formType: 0,
                            value: "",
                            title: '请输入需要充值的金额',
                            area: ['100px', '50px'] //自定义文本域宽高
                        }, function(value, index, elem){
                            if(parseInt(value)>parseInt("{$money}")){
                                layer.msg('金额不足');
                                return false;
                            }else{
                                rtype = 1;
                                recharge(id,rtype,value ,function(res){
                                    if(res.code==1){
                                        layer.msg('充值成功',{time:500},function(){
                                            $("#money").text(res.money);
                                            $("#xmoney").text(res.xmoney);
                                        });
                                    }else{
                                        layer.msg(res.msg);
                                    }
                                });
                            }
                            layer.close(index);
                        });
                    })

                    $("#tl").click(function(){
                        var oDate = new Date();
                        var hh    = oDate.getHours();
                        var mm=oDate.getMinutes();
                            layer.prompt({
                                formType: 0,
                                value: "",
                                title: '请输入需要提领的金额',
                                area: ['100px', '50px'] //自定义文本域宽高
                            }, function(value, index, elem){
                                rtype = 2;
                                recharge(id,rtype,value ,function(res){
                                    if(res.code==1){
                                        layer.msg('提领成功',{time:500},function(){
                                            $("#money").text(res.money);
                                            $("#xmoney").text(res.xmoney);
                                        });
                                    }else{
                                        layer.msg(res.msg);
                                    }
                                });
                                layer.close(index);
                            });
                    })

                    $("#tlall").click(function(){
                        var oDate = new Date();
                        var hh    = oDate.getHours();
                        var mm=oDate.getMinutes();
                            layer.open({
                                content: '确定提领全部？',
                                yes: function(index, layero){
                                    rtype = 3;
                                    recharge(id,rtype,0,function(res){
                                        if(res.code==1){
                                            layer.msg('全部提领成功',{time:500},function(){
                                                $("#money").text(res.money);
                                                $("#xmoney").text(res.xmoney);
                                            });
                                        }else{
                                            layer.msg(res.msg);
                                        }
                                    });
                                }
                            });
                    })
                })
            }
        })
    }
    function recharge(id,rtype,value ,callback) {
        $.post(RECHAR_URL,{id:id,type:rtype,money:value},function(res){
            callback(res);
        })
    }
    //重置密码
    function reset_password(id){
        layer.open({
            content: '确定重置密码吗？',
            yes: function(index, layero){
                $.post(RESETPSS_URL,{id:id},function(res){
                    console.log(res);
                    if(res.code==1) {
                        layer.msg(res.msg,{time:500},function(){
                            location.reload();
                        })
                    }
                })
            }
        })
    }

    //查看下级
    function level_info(id){
        location.href = './level_info/id/'+id+'.html';
    }

    //删除会员
    function del_member(id){
        lunhui.confirm(id,'{:url("del_member")}');
    }

    //用户会员
    function member_status(id){
        lunhui.status(id,'{:url("member_status")}');
    }

</script>
</body>
</html>
