<div class="ibox-content">
    <div class="form-group">
        <a class="btn btn-danger btn-outline btn-xs"><i class="fa fa-rmb">会员余额</i></a><span id="xmoney" style="font-weight: bold;margin-left: 20px;font-size: 16px;color: #F37B1D">{$xmoney}</span>
    </div>
    <div class="hr-line-dashed"></div>
    <div class="form-group">
        <a style="margin-left:10px" class="btn btn-warning btn-outline btn-xs" id="cz"><i class="fa fa-rmb"></i>充值</a>
        <a style="margin-left:100px" class="btn btn-success btn-outline btn-xs" id="tl"><i class="fa fa-rmb"></i>提领</a>
        <a style="margin-left:100px" class="btn btn-success btn-outline btn-xs" id="tlall"><i class="fa fa-rmb"></i>提领全部</a>
    </div>
</div>
