<!DOCTYPE html>
<html lang="en">
<script type="text/javascript" charset="utf-8" id="zm-extension" src="chrome-extension://fdcgdnkidjaadafnichfpabhfomcebme/scripts/webrtc-patch.js" async=""></script><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=414, user-scalable=no">
    <title>TG</title>

    <link rel="shortcut icon" href="../favicon.ico" type="image/vnd.microsoft.icon">
    <link rel="icon" href="../favicon.ico" type="image/vnd.microsoft.icon">

    <link rel="stylesheet" href="__CSS__/bootstrap.min.css">
    <link rel="stylesheet" href="__CSS__/fontawesome-all.min.css">
    <link rel="stylesheet" href="__CSS__/normalize.css">
    <link rel="stylesheet" href="__CSS__/side.css">
    <link rel="stylesheet" href="__CSS__/rules.css">
    <link rel="stylesheet" href="__CSS__/Main_Style.css?v=20190605114015">
    <link rel="stylesheet" href="__CSS__/my_info_chg.css?v=20190605114015">
    <!--theme-->
    <link rel="stylesheet" href="__CSS__/theme/APPui.css?v=20190605114015">


    <script src="__JS__/jquery-3.2.1.min.js"></script>
    <script src="__JS__/bootstrap.min.js"></script>
</head>

<body>
<img src="http://page-view.qsfsys.com/page-views?t=&amp;id=AMX141" style="display: none;">
<div class="sidy" onclick="siidyy();">
    <div class="sidy__content">
        <div id="repwd" class="container verificationContainer">
            <form class="form-horizontal form-verification" onsubmit="return false;">
                <div class="form-group">
                    <label for="Password" class="col-xs-4">旧密码</label>
                    <div class="col-xs-8">
                        <input type="password" class="form-control" id="pwd" placeholder="密码需英数混合，至少六字元">
                    </div>
                </div>
                <div class="form-group">
                    <label for="resetPassword" class="col-xs-4">新登入密码</label>
                    <div class="col-xs-8">
                        <input type="password" class="form-control" id="resetpwd1" placeholder="密码需英数混合，至少六字元">
                    </div>
                </div>
                <div class="form-group">
                    <label for="resetPasswordCheck" class="col-xs-4">确认登入新密码</label>
                    <div class="col-xs-8">
                        <input type="password" class="form-control" id="resetpwd2" placeholder="密码需英数混合，至少六字元">
                    </div>
                </div>
                <input type="hidden" id="ckusername" value="">
                <input type="hidden" id="forget" value="">
                <button class="btn btn-lg col-xs-5 col-xs-offset-1 verification_cancel" onclick="javascript:window.history.go(-1);">返回</button>
                <button class="btn btn-lg col-xs-5 col-xs-offset-1 verification_code" onclick="resetpwd()">确认</button>
            </form>
        </div>

        <div id="Modal_coverchgall">
            <div id="Modal_coverchgload" class="cover" style="display:none;"></div>
            <div id="Modal_verificationCode" class="cover" style="display:none;">
                <div id="codeError" class="order_content">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
                        <circle class="path circle" fill="none" stroke="#ff0000" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1"></circle>
                        <line x1="40" y1="40" x2="95" y2="95" stroke="#ff0000" stroke-width="6"></line>
                        <line x1="95" y1="40" x2="40" y2="95" stroke="#ff0000" stroke-width="6"></line>
                    </svg>

                    <div class="text_fail">系统信息</div>
                    <div class="blue_line_formember"></div>
                    <p id="errorMsg" class="errorInfo"></p>
                    <div class="btn_group_member">
                        <button type="button" id="confirmClose">关闭</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="__JS__/side.js"></script>
<script src="__JS__/scrollTop.js"></script>
<script src="__JS__/deposit.js"></script>
<script src="__JS__/downloadApp.js?v=20190605114015"></script>
<script src="__JS__/main.js"></script>
<script src="__JS__/forgetPwd.js?v=20190605114015"></script>
<script src="__JS__/clipboard.min.js"></script>
</body></html>
<script>
    function resetpwd() {
        let pwd  = $('#pwd').val();
        let resetpwd1  = $('#resetpwd1').val();
        let resetpwd2  = $('#resetpwd2').val();
        $.post('/index/index/save_password',{password:pwd,newpassword:resetpwd1,newpassword1:resetpwd2},function(res){
            console.log(res);
            if(res.code==1){
                location.href = '/index/login/loginOut';
                alert(res.msg);
            }else{
                alert(res.msg);
            }
        })

    }
</script>
