<!DOCTYPE html>
<html lang="en" class="wf-quicksand-n4-active wf-active"><script type="text/javascript" charset="utf-8" id="zm-extension" src="chrome-extension://fdcgdnkidjaadafnichfpabhfomcebme/scripts/webrtc-patch.js" async=""></script><head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=414,user-scalable=no">
	<title>TG</title>

	<link rel="stylesheet" href="__CSS__/bootstrap.min.css">
	<link rel="stylesheet" href="__CSS__/fontawesome-all.min.css">
	<link rel="stylesheet" href="__CSS__/normalize.css">
	<link rel="stylesheet" href="__CSS__/tab_style.css">
	<link rel="stylesheet" href="__CSS__/side.css">
	<link rel="stylesheet" href="__CSS__/Main_Style.css">
	<link rel="stylesheet" href="__CSS__/withdrewal_deposits.css">
	<link rel="stylesheet" href="__CSS__/FIFA_marketlist.css">
	<link rel="stylesheet" href="__CSS__/ex.css">
	<link rel="stylesheet" href="__CSS__/my_info_chg.css">
	<link rel="stylesheet" href="__CSS__/switch.css">
	<link rel="stylesheet" href="__CSS__/downloadApp.css">
	<!--theme-->
	<link rel="stylesheet" href="__CSS__/theme/APPui.css">
	<script src="__JS__/jquery-3.2.1.min.js"></script>
	<script src="__JS__/bootstrap.min.js"></script>
	<script>
	</script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand" media="all"><script src="https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js" type="text/javascript" async=""></script></head>

<body>
	<img src="http://page-view.qsfsys.com/page-views?t=1561989327&amp;id=AMX141" style="display: none;">
	<div class="sidy" onclick="siidyy();">
		<div class="sidy__content">
            {include file="public/nav1" /}
<div id="Modal_coverchgall" class="cover"></div>
<link rel="stylesheet" href="__CSS__/withdrewal_deposits.css">
<link rel="stylesheet" href="css/ex.css">
<link rel="stylesheet" href="__CSS__/login.css">
<link rel="stylesheet" href="template/app/soon.min.css">
<link rel="stylesheet" href="template/app/countdown.css">
<script src="template/app/countdown.js"></script>


<style>
.soon-slot-animate
{
width:60px ! important;
height:60px ! important;
margin-top:50px ! important;
}
.soon-slot-new
{
font-size:38px ! important;
}
.soon-slot-old
{
font-size:38px ! important;
}
</style>
<script>
$( document ).ready(function() {
   jQuery('#tabss-2').attr('checked',true)
    jQuery('#tabss-1').on('click', function () {
   	    jQuery('.content-1').html('<div class="Loading"></div>');
      });
   jQuery('#tabss-3').on('click', function () {
   	    jQuery('.content-3').html('<div class="Loading"></div>');
      });
	});

function getscript()
{
	$.getScript("template/app/soon_test.js")
   .done(function( script, textStatus ) {
    //console.log( textStatus );
  })
   .fail(function( jqxhr, settings, exception ) {
   	//console.log( "Triggered ajaxError handler." );

   });
}
</script>
<input type="hidden" name="arthur" id="arthur" value="1">
<input type="hidden" name="pickfee" id="pickfee" value="1">
<div class="title_background ">
    <div class="title">充值与提领</div>
</div>
<section class="tabs">
            <input onclick="location.href='deposits.html'" style="outline:none;" type="radio" id="tabss-1" name="radio-set" class="tab-selector-1">
            <label style="width:33%;" for="tab-1" class="tabss-label-1">充值</label>
            <input onclick="location.href='receive.html'" style="outline:none;" type="radio" id="tabss-2" name="radio-set" class="tab-selector-2" checked="checked">
            <label style="left:33%;width:33%;" for="tab-2" class="tabss-label-2">提领</label>
            <input onclick="location.href='monrecord.html'" style="outline:none;" type="radio" id="tabss-3" name="radio-set" class="tab-selector-3">
            <label style="left:66%;width:34%;" for="tab-3" class="tabss-label-3">交易记录</label>
            <div class="clear-shadow"></div>
            <div class="content" style="margin-top:0px;padding: 0px 0px 0px 0px;">
                <div class="content-1"></div>
                <div class="content-3"></div>
                <div id="content_2" class="content-2">
                         <div class="deposits_title">提领方式</div>
                         <h5 class="classification_title">扫码联系客服</h5>
                        <img src="__IMG__/g_companyInfoBanner.png" height="200">
                    	<input type="hidden" name="balance_money_chk_pick" id="balance_money_chk_pick" value="">

                        <div class="color_border">

                        </div>

                        <div style="background-color:#f4f8ff;" class="take_bg">
                    <div class="notice_bg">
                       <div class="notice">※&nbsp;注意事项&nbsp;※</div>
                        <div class="notice_group">
                        <ul class="notice_ul">
                            <li class="num_style">最低申请点数为100点以上。</li>
                            <li class="num_style">每周可享提领5次免手续费，如您欲再提领，本公司将收取提领金额之5%做为行政处理费。</li>
                            <li class="num_style">第一次提交申请送出后即会绑定该帐户，请务必将您的银行帐户填写正确，若提供之帐号有误导致损失，本公司恕不负责。</li>
                            <div class="color_red">P.S.如利用本平台进行任何洗钱诈骗行为,本公司将保留权力终止会员服务及冻结其帐户。</div>
                        </ul>
                      </div>
                    </div>



                </div>

            </div>

        </section>

<script src="__JS__/receive.js"></script>		</div>

	</div>

	<div id="Modal_cover_fees" class="cover" style="display:none;">
		<div id="order1" class="order_content">

			<div class="submit_title">交易提醒</div>
			<div class="submit_bg">
				<div class="submit_text">提醒您，截至目前为止</div>
				<div class="submit_text"><span>免手续费</span>优惠</div>

				<div class="soon" id="my-soon-counter" data-due="in 5 seconds" data-layout="group overlap label-lowercase label-hidden" data-format="s" data-face="slot doctor glow" data-visual="ring glow-progress width-thin offset-65 length-80">
				</div>

				<div class="submit_text font_s">如继续交易将收取<span>5%</span>行政处理费用<span id="getmoneyfee"></span>点</div>
				<div class="submit_text font_s">于您申请的<span>提领金额里扣除。</span></div>
				<div class="submit_text blue_bg">每周（一）00：00重新计算</div>
				<div class="submit_btn_group">
					<button onclick="javascript:closefeealert()" class="cancel_btn">取消</button>
					<button class="submit_confirm " id="next">确定</button>
				</div>
			</div>

		</div>
	</div>

	<div id="Modal_cover_fees_sec" class="cover" style="display:none;">
		<div id="order1" class="order_content">

			<div class="submit_title">交易提醒</div>
			<div class="submit_bg">
				<div class="submit_text">提醒您，截至目前为止</div>
				<div class="submit_text"><span>免手续费</span>优惠</div>

				<div class="soon" id="my-soon-counter" data-due="in 5 seconds" data-layout="group overlap label-lowercase label-hidden" data-format="s" data-face="slot doctor glow" data-visual="ring glow-progress width-thin offset-65 length-80">
				</div>
				<div class="submit_text blue_bg">每周（一）00：00重新计算</div>
				<div class="submit_btn_group">
					<button id="next2" class="submit_confirm2">确定</button>
				</div>
			</div>
		</div>
	</div>

	<script src="__JS__/side.js"></script>
	<!-- <script src="__JS__/withdrewel_deposits.js"></script> -->
	<script src="__JS__/main.js"></script>
	<script src="__JS__/scrollTop.js"></script>
	<script src="__JS__/downloadApp.js"></script>
	<script src="__JS__/deposit.js"></script>
	<script src="__JS__/qrcode.js"></script>
	<script src="__JS__/clipboard.min.js"></script>
	<script>
		var clipboard = new ClipboardJS('.copy_cell'),
			pop = $("[data-toggle='popover']");
		clipboard.on('success', function(e) {
			setTimeout(function() {
				pop.popover('hide');
			}, 300);
			setTimeout(function() {
				pop.popover();
			}, 1000);
			e.clearSelection();
		});
	</script>



</body></html>
