.w_content a:active.title_background {
	height: 10px;
}

.help_title {
	color: white;
	font-size: 20px;
	text-align: center;
	letter-spacing: 2px;
	padding-top: 12px;
	z-index: 1029;
}

.help_content {
	margin-top: 75px;
	padding: 0px 1.5% 0px 1.5%;

}

.help_content .help_bg {
	background-color: white;
	padding: 10px 2% 10px 2%;
	margin-bottom: 10px;
	height: auto;
	min-height: 100%;
}

.blue_border {
	width: 100%;
	height: 7px;
	background: #0d3675;
	/* Old browsers */
	background: -moz-linear-gradient(left, #0d3675 0%, #00ecd5 100%);
	/* FF3.6-15 */
	background: -webkit-linear-gradient(left, #0d3675 0%, #00ecd5 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #0d3675 0%, #00ecd5 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0d3675', endColorstr='#00ecd5', GradientType=1);
	/* IE6-9 */
}

.black_line {
	width: 100%;
	height: 1px;
	background-color: black;
	margin-bottom: 10px;
}

.please_c {
	font-size: 16px;
	padding-left: 5px;
}

.help {
	width: 100%;
	text-align: center;
	background-color: #0d3675;
	color: white;
	padding: 10px 0px;
	font-size: 18px;
	border-bottom: solid 1px white;
}

.w_content {
	display: none;
	width: 100%;
	text-align: center;
}

.w_content a {
	display: block;
	color: black;
	width: 100%;
	padding: 10px 0px;
	text-align: center;
	font-size: 18px;
	background-color: white;
	text-decoration: none;
	margin-bottom: 1px;
}

.w_content a:active {
	background-color: #937a54;
	color: white;
	text-decoration: none;
}

.w_content a:hover {
	background-color: #937a54;
	color: white;
	text-decoration: none;
}

.w_content a:visited {
	color: black;
}

.back_to_marketlist {
	width: 20%;
	background: #fdfdfd;
	background: -moz-linear-gradient(top, #fdfdfd 0%, #d4d4d6 100%);
	background: -webkit-linear-gradient(top, #fdfdfd 0%, #d4d4d6 100%);
	background: linear-gradient(to bottom, #fdfdfd 0%, #d4d4d6 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfd', endColorstr='#d4d4d6', GradientType=0);
	padding: 8px 0px;
	border: none;
	position: fixed;
	top: 6px;
	left: 2%;
	font-size: 16px;
	color: #7d8a8a;
	font-weight: bold;
	z-index: 2000;
	border-radius: 3px;
}

.help_register {
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 5px;
}

.fa-arrow-left:before {
	padding-right: 5px;
	color: white;
}

.back_to_menu {
	position: absolute;
	top: 85px;
	background-color: #0d3675;
	color: white;
	padding: 5px 8px;
	font-weight: bold;
	border-radius: 3px;
}

a:active .back_to_menu {
	text-decoration: none;
	color: white;
}

.back_to_menu a:visited,
.back_to_menu a:hover,
.back_to_menu a:focus {
	color: white;
}

.help_register_content {
	width: 100%;
}

/*註冊*/
.register1 {
	background: url("../img/help_register/01.gif");
	background-size: cover;
	width: 280px;
	height: 605px;
	margin: auto;
}

.register2 {
	background: url("../img/help_register/02.gif");
	background-size: cover;
	width: 280px;
	height: 605px;
	margin: auto;
}

.register3 {
	background: url("../img/help_register/03.gif");
	background-size: cover;
	width: 280px;
	height: 605px;
	margin: auto;
}

.register4 {
	background: url("../img/help_register/04.gif");
	background-size: cover;
	width: 280px;
	height: 605px;
	margin: auto;
}

.register5 {
	background: url("../img/help_register/05.gif");
	background-size: cover;
	width: 280px;
	height: 605px;
	margin: auto;
}

/*網路銀行*/
.online_bank1 {
	background: url("../img/help_online_bank/01.gif");
	background-size: cover;
	width: 280px;
	height: 605px;
	margin: auto;
}

.online_bank2 {
	background: url("../img/help_online_bank/02.gif");
	background-size: cover;
	width: 280px;
	height: 605px;
	margin: auto;
}

.online_bank3 {
	background: url("../img/help_online_bank/03.gif");
	background-size: cover;
	width: 280px;
	height: 605px;
	margin: auto;
}

.online_bank4 {
	background: url("../img/help_online_bank/04.jpg");
	background-size: cover;
	width: 280px;
	height: 605px;
	margin: auto;
}

.online_bank5 {
	background: url("../img/help_online_bank/05.gif");
	background-size: cover;
	width: 280px;
	height: 605px;
	margin: auto;
}

/*臨櫃匯款*/
.bank1 {
	background: url(../img/help_bank/01.gif);
	background-size: cover;
	width: 280px;
	height: 605px;
	margin: auto;
}

.bank2 {
	background: url("../img/help_bank/02.gif");
	background-size: cover;
	width: 280px;
	height: 605px;
	margin: auto;
}

.bank3 {
	background: url("../img/help_bank/03.gif");
	background-size: cover;
	width: 280px;
	height: 605px;
	margin: auto;
}

.bank4 {
	background: url("../img/help_bank/04.jpg");
	background-size: cover;
	width: 280px;
	height: 605px;
	margin: auto;
}

.bank5 {
	background: url("../img/help_bank/05.gif");
	background-size: cover;
	width: 280px;
	height: 605px;
	margin: auto;
}

/*支付寶*/
.pay1 {
	background: url("../img/help_pay/01.gif");
	background-size: cover;
	width: 280px;
	height: 605px;
	margin: auto;
}

.pay2 {
	background: url("../img/help_pay/02.gif");
	background-size: cover;
	width: 280px;
	height: 605px;
	margin: auto;
}

.pay3 {
	background: url("../img/help_pay/03.gif");
	background-size: cover;
	width: 280px;
	height: 605px;
	margin: auto;
}

.pay4 {
	background: url("../img/help_pay/04.gif");
	background-size: cover;
	width: 280px;
	height: 605px;
	margin: auto;
}

.pay5 {
	background: url("../img/help_pay/05.jpg");
	background-size: cover;
	width: 280px;
	height: 605px;
	margin: auto;
}

.pay6 {
	background: url("../img/help_pay/06.gif");
	background-size: cover;
	width: 280px;
	height: 605px;
	margin: auto;
}

/*微信支付*/

.weixinUnavailable {
	background: url("../img/help_weixin/unavailable.jpg") 50% no-repeat;
	background-size: contain;
	width: 280px;
	height: 498px;
	margin: auto;
}

.weixin1 {
	background: url("../img/help_weixin/1.jpg");
	background-size: cover;
	width: 280px;
	height: 498px;
	margin: auto;
}

.weixin2 {
	background: url("../img/help_weixin/2.gif");
	background-size: cover;
	width: 280px;
	height: 498px;
	margin: auto;
}

.weixin3 {
	background: url("../img/help_weixin/3.gif");
	background-size: cover;
	width: 280px;
	height: 498px;
	margin: auto;
}

.weixin4 {
	background: url("../img/help_weixin/4.gif");
	background-size: cover;
	width: 280px;
	height: 498px;
	margin: auto;
}

.weixin5 {
	background: url("../img/help_weixin/5.gif");
	background-size: cover;
	width: 280px;
	height: 498px;
	margin: auto;
}

/*QQ*/
.qqUnavailable {
	background: url("../img/help_qq/unavailable.jpg") 50% no-repeat;
	background-size: contain;
	width: 280px;
	height: 498px;
	margin: auto;
}

.qq1 {
	background: url("../img/help_qq/1.jpg");
	background-size: cover;
	width: 280px;
	height: 498px;
	margin: auto;
}

.qq2 {
	background: url("../img/help_qq/2.gif");
	background-size: cover;
	width: 280px;
	height: 498px;
	margin: auto;
}

.qq3 {
	background: url("../img/help_qq/3.gif");
	background-size: cover;
	width: 280px;
	height: 498px;
	margin: auto;
}

.qq4 {
	background: url("../img/help_qq/4.gif");
	background-size: cover;
	width: 280px;
	height: 498px;
	margin: auto;
}

.qq5 {
	background: url("../img/help_qq/5.gif");
	background-size: cover;
	width: 280px;
	height: 498px;
	margin: auto;
}

/*提領*/
.withdraw1 {
	background: url("../img/help_withdrawal/01.gif");
	background-size: cover;
	width: 280px;
	height: 605px;
	margin: auto;
}

.withdraw2 {
	background: url("../img/help_withdrawal/02.jpg");
	background-size: cover;
	width: 280px;
	height: 605px;
	margin: auto;
}

.withdraw3 {
	background: url("../img/help_withdrawal/03.gif");
	background-size: cover;
	width: 280px;
	height: 605px;
	margin: auto;
}
.withdraw4 {
	background: url("../img/help_withdrawal/04.gif");
	background-size: cover;
	width: 280px;
	height: 605px;
	margin: auto;
}

/*手動下單*/
.hand_order1 {
	background: url("../img/help_hand_order/01.jpg");
	background-size: cover;
	width: 280px;
	height: 605px;
	margin: auto;
}

.hand_order2 {
	background: url("../img/help_hand_order/02.gif");
	background-size: cover;
	width: 280px;
	height: 605px;
	margin: auto;
}

.hand_order3 {
	background: url("../img/help_hand_order/03.gif");
	background-size: cover;
	width: 280px;
	height: 605px;
	margin: auto;
}

.hand_order4 {
	background: url("../img/help_hand_order/04.gif");
	background-size: cover;
	width: 280px;
	height: 605px;
	margin: auto;
}

.hand_order5 {
	background: url("../img/help_hand_order/05.gif");
	background-size: cover;
	width: 280px;
	height: 605px;
	margin: auto;
}

.hand_order6 {
	background: url("../img/help_hand_order/06.gif");
	background-size: cover;
	width: 280px;
	height: 605px;
	margin: auto;
}

#prev {
	display: block;
	font-size: 30px;
	position: absolute;
	top: 380px;
	left: 5%;
}

#next {
	display: block;
	font-size: 30px;
	position: absolute;
	top: 380px;
	right: 5%;
}

.carousel-control.right {
	background-image: none;
	left: 87%;
}

.carousel-control.left {
	background-image: none;
	left: -2%;
}

.glyphicon-chevron-right:before {
	content: "\e080";
	color: #000;
}

.carousel-control:focus,
.carousel-control:hover {
	color: transparent;
	text-decoration: none;
	outline: 0;
	opacity: 1;
}

.glyphicon-chevron-left:before {
	content: "\e079";
	color: black;
}

.carousel-control {
	opacity: 1;
}
