/*
*, *:after, *::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}
*/

/*menu憟𦯀辣*/
body {
	background-color: white;
	font-family: 敺株��迤暺煾��, sans-serif, Arial, Tahoma;
	height: 100%;
}

/*tab憟𦯀辣*/
input[type="checkbox"],
input[type="radio"] {
	line-height: normal;
	margin: 0px 0px 0px 0px;

}

ul {
	padding-left: 0px;
}
.bannervideo {   
    background: rgba(225,225,225,0);
    cursor: default;
    z-index: 5;
    display: block;
    height: 165px;
}
.bannervideo > video,
.bannervideo > img {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.sidy {
	height: 100%;
}
.sidy__content {
	background: url("../img/bg.jpg");
	background-size: cover;
	position: relative;
    overflow-y: auto;
    height: 100%;
}

.sidy__panel {
	background-color: #e6ebef;
	position: fixed;
    overflow: auto;
	top: 0;
	bottom: 0;
	left: -262px;
	z-index: -9999;
}
.sidy--opened .sidy__panel {
	left: 0px;
	z-index: 9999;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}
.sidy--opened .sidy__content::after {
	position: fixed;
    top: 0;
    left: 0;
	right: 0;
	bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    content: '';
    -webkit-transition: all 0s;
    transition: all 0s;
	z-index: 1030;
}

.scroll_top {
	display: none;
	position: fixed;
	bottom: 75px;
	right: 25px;
	z-index: 1031;
	font-size: 30px;
	color: rgba(104, 104, 104, 0.5);
}

.scroll_top_bg {
	border-radius: 50%;
	width: 50px;
	height: 50px;
	background-color: rgba(255, 255, 255, 0.5);
	border: solid 1px rgba(104, 104, 104, 0.5);
	text-align: center;
	vertical-align: middle;
}

.backTOindex {
	display: inline-block;
	height: 100%;
	padding-top: 10px;
	width: 50px;
	text-align: center;
}

/*menu ��厰��  banner�峕艶*/
.menu_btn {
	display: inline-block;
	width: 30px;
	margin-top: 12px;
	margin-left: 10px;
	cursor: pointer;
}

.menu_btn span {
	display: block;
	height: 5px;
	width: 30px;
	background-color: #ffffff;
	margin-bottom: -15px;
}

.head_banner {
	background: url("../img/bar.jpg");
	background-size: cover;
	height: 50px;
}

#marqinfo {
	margin-top: 3px;
	font-size: 16px;
	margin-left: 22%;
	width: 80%;
	display: block;
}

#markettitle {
	padding-left: 150px;
	width: 80%;
	display: none;
}

/*雿輻鍂��撣唾�笔�屸�㗛��*/
.acc {
	display: inline-block;
	color: white;
	width: 26%;
	background-color: #002b51;
	border-radius: 4px;
	border: solid 1px #636c72;
	margin-left: 10%;
	margin-top: 15px;
	vertical-align: top;
	text-align: center;
	padding: 1px 4px 1px 1px;
}

.money {
	display: inline-block;
	color: white;
	width: 34%;
	background-color: #002b51;
	border-radius: 4px;
	border: solid 1px #636c72;
	margin-left: 8%;
	margin-top: 15px;
	vertical-align: top;
	text-align: right;
	padding: 1px 4px 1px 1px;

}

.top_user {
	float: left;
	margin: 4px 2px 0px 4px;
}

.top_coin {
	float: left;
	margin: 5px 2px 0px 4px;
}

/*璅䠷���峕�䠷�諹�峕艶 �砍�𦠜�厰�� 靽∠拳*/
.title_background {
	width: 100%;
	height: 35px;
	position: fixed;
	top: 50px;
	right: 0px;
	left: 0px;
	z-index: 1029;
	background: #d1d1d2;
	background: -webkit-gradient(linear, left top, right top, from(#d1d1d2), color-stop(25%, #f0f0f0), color-stop(50%, #ffffff), color-stop(75%, #f0f0f0), to(#d1d1d2));
	background: linear-gradient(to right, #d1d1d2 0%, #f0f0f0 25%, #ffffff 50%, #f0f0f0 75%, #d1d1d2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d1d1d2', endColorstr='#d1d1d2', GradientType=1);
	-webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

.title {
	display: inline-block;
	font-size: 18px;
	margin-top: 6px;
	letter-spacing: 2px;
	font-weight: 500;
	color: #002b51;
	width: 100%;
	text-align: center;
}

.title_market {
	display: inline-block;
	font-size: 18px;
	margin-top: 6px;
	letter-spacing: 2px;
	font-weight: 500;
	color: #002b51;
	width: 85%;
	text-align: center;
}

.announcement_btn {
	position: absolute;
	padding: 0.1em 0.5em 0.1em 0.8em;
	background: #fbfbfb;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#eaeaea));
	background: linear-gradient(to bottom, #fbfbfb 0%, #eaeaea 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbfbfb', endColorstr='#eaeaea', GradientType=0);
	color: #787878;
	font-family: 'Lato', Calibri, Arial, sans-serif;
	font-size: 1em;
	letter-spacing: 1px;
	text-transform: uppercase;
	cursor: pointer;
	display: inline-block;
	border-radius: 2px;
	margin-top: 0.38em;
	margin-left: 8px;
	border: solid 1px rgba(142, 142, 142, 0.4);
}

.arrow_2 {
	margin-left: 5px;
	color: #787878;
}

.mail {
	display: inline-block;
	float: right;
	margin-top: 5px;
	margin-right: 20px;
}

.message_number {
	background: red;
	color: white;
	padding: 0px 3px;
	border-radius: 4px;
	font-size: 10px;
	display: block;
	position: absolute;
	top: 1px;
	right: 8px;
}

/*menu�批捆*/
.tg_logo_menu {
	width: 100%;
	margin: 25px auto 16px auto;
	text-align: center;
}

.menu_table {
	display: table;
	width: 93%;
	height: 100px;
	border-top: solid 1px rgba(15, 59, 99, 0.4);
	border-right: solid 1px rgba(15, 59, 99, 0.4);
	margin: 9px 10px 50px 9px;
}

.menu_table_row {
	display: table-row;
	width: 100%;
}

.menu_table_cell {
	display: table-cell;
	width: 33%;
	font-size: 12px;
	letter-spacing: 2px;
	text-align: center;
	border-bottom: solid 1px rgba(15, 59, 99, 0.4);
	border-left: solid 1px rgba(15, 59, 99, 0.4);
	color: #0f3b63;
	vertical-align: top;
}

.menu_table_cell a {
	color: #0f3b63;
	display: block;
	width: 100%;
	height: 100%;
	text-decoration: none;
	vertical-align: bottom;
}

.marketlist_icon {
	display: block;
	background: url("../img/sidemenu_icon/01-2.png") no-repeat;
	background-size: cover;
	width: 17px;
	height: 17px;
	position: relative;
	top: 25%;
	margin: 0px auto;

}

a:active .marketlist_icon {
	display: block;
	background: url("../img/sidemenu_icon/01-1.png") no-repeat;
	background-size: cover;
	width: 17px;
	height: 17px;
	position: relative;
	top: 25%;
	margin: 0px auto;
	text-decoration: none;

}

.trade_icon {
	display: block;
	background: url("../img/sidemenu_icon/02-2.png") no-repeat;
	background-size: cover;
	width: 18px;
	height: 18px;
	position: relative;
	top: 25%;
	margin: 0px auto;
}

a:active .trade_icon {
	display: block;
	background: url("../img/sidemenu_icon/02-1.png") no-repeat;
	background-size: cover;
	width: 18px;
	height: 18px;
	position: relative;
	top: 25%;
	margin: 0px auto;
	text-decoration: none;
}

.nowscore_icon_2018 {
	width: 26px;
	height: 26px;
	background: url("../img/sidemenu_icon/game1.png") no-repeat;
	background-size: cover;
	margin-top: 0px;
	margin-left: 10px;
	margin-top: 7px;

}

.history_icon {
	display: block;
	background: url("../img/sidemenu_icon/03-2.png") no-repeat;
	background-size: cover;
	width: 19px;
	height: 19px;
	position: relative;
	top: 25%;
	margin: 0px auto;
}

a:active .history_icon {
	display: block;
	background: url("../img/sidemenu_icon/03-1.png") no-repeat;
	background-size: cover;
	width: 19px;
	height: 19px;
	position: relative;
	top: 25%;
	margin: 0px auto;
	text-decoration: none;
}


.game_icon {
	display: block;
	background: url("../img/sidemenu_icon/04-2.png") no-repeat;
	background-size: cover;
	width: 20px;
	height: 20px;
	position: relative;
	top: 25%;
	margin: 0px auto;
}

a:active .game_icon {
	display: block;
	background: url("../img/sidemenu_icon/04-1.png") no-repeat;
	background-size: cover;
	width: 20px;
	height: 20px;
	position: relative;
	top: 25%;
	margin: 0px auto;
	text-decoration: none;
}

.announcement_icon {
	display: block;
	background: url("../img/sidemenu_icon/05-2.png") no-repeat;
	background-size: cover;
	width: 21px;
	height: 21px;
	position: relative;
	top: 25%;
	margin: 0px auto;
}

a:active .announcement_icon {
	display: block;
	background: url("../img/sidemenu_icon/05-1.png") no-repeat;
	background-size: cover;
	width: 21px;
	height: 21px;
	position: relative;
	top: 25%;
	margin: 0px auto;
	text-decoration: none;
}

.nowscore_icon {
	display: block;
	background: url("../img/sidemenu_icon/1-0-b.png") no-repeat;
	background-size: cover;
	width: 21px;
	height: 21px;
	position: relative;
	top: 25%;
	margin: 0px auto;
}

a:active .nowscore_icon {
	display: block;
	background: url("../img/sidemenu_icon/1-0-w.png") no-repeat;
	background-size: cover;
	width: 21px;
	height: 21px;
	position: relative;
	top: 25%;
	margin: 0px auto;
	text-decoration: none;
}

.index_icon {
	display: block;
	background: url(../img/wallet_icon.png) no-repeat;
	background-size: cover;
	width: 21px;
	height: 21px;
	position: relative;
	top: 25%;
	margin: 0px auto;
}

a:active .index_icon {
	display: block;
	background: url(../img/wallet_icon_2.png) no-repeat;
	background-size: cover;
	width: 21px;
	height: 21px;
	position: relative;
	top: 25%;
	margin: 0px auto;
	text-decoration: none;
}

.historygame_icon {
	display: block;
	background: url("../img/sidemenu_icon/07-2.png") no-repeat;
	background-size: cover;
	width: 22px;
	height: 22px;
	position: relative;
	top: 25%;
	margin: 0px auto;
}

a:active .historygame_icon {
	display: block;
	background: url("../img/sidemenu_icon/07-1.png") no-repeat;
	background-size: cover;
	width: 22px;
	height: 22px;
	position: relative;
	top: 25%;
	margin: 0px auto;
	text-decoration: none;
}

.rules_icon {
	display: block;
	background: url("../img/sidemenu_icon/08-2.png") no-repeat;
	background-size: cover;
	width: 22px;
	height: 22px;
	position: relative;
	top: 25%;
	margin: 0px auto;
}

a:active .rules_icon {
	display: block;
	background: url("../img/sidemenu_icon/08-1.png") no-repeat;
	background-size: cover;
	width: 22px;
	height: 22px;
	position: relative;
	top: 25%;
	margin: 0px auto;
	text-decoration: none;
}

.discus_icon {
	display: block;
	background: url("../img/sidemenu_icon/09-2.png") no-repeat;
	background-size: cover;
	width: 22px;
	height: 22px;
	position: relative;
	top: 25%;
	margin: 0px auto;
}

a:active .discus_icon {
	display: block;
	background: url("../img/sidemenu_icon/09-1.png") no-repeat;
	background-size: cover;
	width: 22px;
	height: 22px;
	position: relative;
	top: 25%;
	margin: 0px auto;
	text-decoration: none;
}

.help_icon {
	display: block;
	background: url("../img/sidemenu_icon/10-2.png") no-repeat;
	background-size: cover;
	width: 22px;
	height: 22px;
	position: relative;
	top: 25%;
	margin: 0px auto;
}

a:active .help_icon {
	display: block;
	background: url("../img/sidemenu_icon/10-1.png") no-repeat;
	background-size: cover;
	width: 22px;
	height: 22px;
	position: relative;
	top: 25%;
	margin: 0px auto;
	text-decoration: none;
}

.service_icon {
	display: block;
	background: url("../img/sidemenu_icon/11-2.png") no-repeat;
	background-size: cover;
	width: 22px;
	height: 22px;
	position: relative;
	top: 25%;
	margin: 0px auto;
}

a:active .service_icon {
	display: block;
	background: url("../img/sidemenu_icon/11-1.png") no-repeat;
	background-size: cover;
	width: 21px;
	height: 20px;
	position: relative;
	top: 25%;
	margin: 0px auto;
	text-decoration: none;
}

/*
.logout_icon{
     display: block;
     background: url("../img/Signout_icon.png") no-repeat ;
     background-size: cover;
     width: 22px;
     height: 22px;
     position: relative;
     top: 25%;
     margin: 0px 0px 0px 32%;

 }
a:active .logout_icon{
    display: block;
    background: url("../img/Signout_icon_2.png") no-repeat ;
    background-size: cover;
    width: 22px;
    height: 22px;
    position: relative;
    top: 25%;
    margin: 0px 0px 0px 32%;

}
*/

.logout_icon {
	display: block;
	background: url("../img/56805.png") no-repeat;
	background-size: cover;
	width: 21px;
	height: 20px;
	position: relative;
	top: 25%;
	margin: 0px auto;
	text-decoration: none;

}

.logout_block {
	width: 93%;
	height: 45px;
	margin: 0px 10px 50px 9px;
	text-align: center;
	padding-top: 11px;
	background: #28aed3;
	/* Old browsers */
	/* FF3.6-15 */
	/* Chrome10-25,Safari5.1-6 */
	background: -webkit-gradient(linear, left top, left bottom, from(#28aed3), to(#165f96));
	background: linear-gradient(to bottom, #28aed3 0%, #165f96 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#28aed3', endColorstr='#165f96', GradientType=0);
	/* IE6-9 */
}

.logout_wrap div {
	display: inline-block;
	vertical-align: top;
	color: white;
	font-size: 18px;

}

.text {
	display: block;
	margin-top: 25px;
	margin-bottom: 14px;
	font-size: 14px;
}


.menu_table_cell a:active {
	background-color: #0f3b63;
	color: white;
	text-decoration: none;
}

.logout_icon {
	display: block;
	background: url("../img/56805.png") no-repeat;
	background-size: cover;
	width: 21px;
	height: 20px;
	position: relative;
	top: 25%;
	margin: 0px auto;
	text-decoration: none;

}

/*menu�批捆*/

.menu_head_bg {
	position: relative;
	width: 100%;
	height: 50px;
	background: #326f9e;
	background: -webkit-gradient(linear, left top, left bottom, from(#326f9e), to(#0a4181));
	background: linear-gradient(to bottom, #326f9e 0%, #0a4181 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#326f9e', endColorstr='#0a4181', GradientType=0);
}

.menu_head_title {
	background: url("../img/menu/head-title-min.png") no-repeat;
	width: 80%;
	height: 23px;
	background-size: cover;
	position: absolute;
	top: 18px;
	left: 25px;
}

.menu_list ul {
	margin: 0;
}

.menu_list ul li {
	width: 100%;
	height: 50px;
	background-color: white;
	border-bottom: solid 1px #cccccc;
	padding: 5px 10px;
	position: relative;

}

.menu_list ul li div {
	display: inline-block;

}

.market_list_icon {
	width: 26px;
	height: 26px;
	background: url("../img/menu/TG1-min.png") no-repeat;
	background-size: cover;
	margin-top: 7px;
	margin-left: 10px;
}

.trade_detail_icon {
	width: 26px;
	height: 26px;
	background: url("../img/menu/TG2-min.png") no-repeat;
	background-size: cover;
	margin-top: 7px;
	margin-left: 10px;
}

.history_icon {
	width: 26px;
	height: 26px;
	background: url("../img/menu/TG3-min.png") no-repeat;
	background-size: cover;
	margin-top: 0px;
	margin-left: 10px;
}

.game_result_icon {
	width: 26px;
	height: 26px;
	background: url("../img/menu/TG4-min.png") no-repeat;
	background-size: cover;
	margin-top: 7px;
	margin-left: 10px;
}

.menu_history_stat_icon {
	width: 28px;
	height: 28px;
	background: url("../img/menu/TG8-min.png") no-repeat;
	background-size: cover;
	margin-top: 5px;
	margin-left: 8px;
}

.menu_rules_icon {
	width: 28px;
	height: 28px;
	background: url("../img/menu/TG9-min.png") no-repeat;
	background-size: cover;
	margin-top: 5px;
	margin-left: 8px;
}

.menu_help_icon {
	width: 26px;
	height: 26px;
	background: url("../img/menu/TG10-min.png") no-repeat;
	background-size: cover;
	margin-top: 7px;
	margin-left: 10px;
}

.menu_discuss_icon {
	width: 26px;
	height: 26px;
	background: url("../img/menu/TG11-min.png") no-repeat;
	background-size: cover;
	margin-top: 7px;
	margin-left: 10px;
}

.menu_announce_icon {
	width: 26px;
	height: 26px;
	background: url("../img/menu/TG12-min.png") no-repeat;
	background-size: cover;
	margin-top: 7px;
	margin-left: 10px;
}

.menu_logout_icon {
	width: 26px;
	height: 26px;
	background: url("../img/menu/TG13-min.png") no-repeat;
	background-size: cover;
	margin-top: 7px;
	margin-left: 10px;
}

.menu_arrow {
	position: absolute;
	top: 18px;
	right: 15px;
	width: 18px;
	height: 16px;
	background: url("../img/menu/00-min.png") no-repeat;
	background-size: cover;
}

.menu_text {
	font-size: 18px;
	position: absolute;
	top: 14px;
	left: 60px;
	letter-spacing: 2px;

}

.menu_block_group {
	width: 100%;
	padding: 15px 10px;
	background-color: transparent;
	text-align: center;
}

.menu_block_group .menu_block {
	padding: 3px;
	display: inline-block;
	text-align: center;
	vertical-align: top;
	background-color: white;
	width: 75px;
	height: 60px;
	border-radius: 5px;
	margin-right: 5px;
	-webkit-box-shadow: 2px 2px 3px 1px rgba(135, 148, 148, 0.5), -2px -2px 3px 1px rgba(135, 148, 148, 0.5);
	box-shadow: 2px 2px 3px 1px rgba(135, 148, 148, 0.5), -2px -2px 3px 1px rgba(135, 148, 148, 0.5);
}

.menu_block_group .menu_block:last-child {
	margin-right: 0px;
}



.menu_wd_icon {
	background: url("../img/menu/TG5-min.png") no-repeat;
	background-size: cover;
	width: 25px;
	height: 25px;
	margin: 6px auto 0px auto;
}

.menu_live_icon {
	background: url("../img/menu/m1.png") no-repeat;
	background-size: cover;
	width: 25px;
	height: 25px;
	margin: 6px auto 0px auto;
}

.menu_service_icon {
	background: url("../img/menu/TG7-min.png") no-repeat;
	background-size: cover;
	width: 22px;
	height: 25px;
	margin: 6px auto 0px auto;
}

.menu_block_text {
	padding-top: 5px;
	letter-spacing: 1px;
	font-size: 12px;
}

.menu_block_outline01 {
	border-radius: 5px;
	border: solid 1px #29824f;
}

.menu_block_outline01 .menu_block_text {
	color: #29824f;
}

.menu_block_outline02 {
	border-radius: 5px;
	border: solid 1px #ff2a2a;
}

.menu_block_outline02 .menu_block_text {
	color: #ff2a2a;
}

.menu_block_outline03 {
	border-radius: 5px;
	border: solid 1px #3083ff;
}

.menu_block_outline03 .menu_block_text {
	color: #3083ff;
}

/*摨蓥�𤷫con bar�批捆*/

.icon_bar {
	display: table;
	width: 100%;
	height: 57px;
	-webkit-box-shadow: 0px -8px 15px rgba(0, 0, 0, 0.3);
	box-shadow: 0px -8px 15px rgba(0, 0, 0, 0.3);

}

.icon_bar_row {
	display: table-row;
	width: 100%;

}

.icon_bar_cell {
	display: table-cell;
	width: 20%;

}

.icon_bar_cell a {
	display: block;
	width: 100%;
	height: 100%;
	background: #fefefe;
	/* Old browsers */
	/* FF3.6-15 */
	/* Chrome10-25,Safari5.1-6 */
	background: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#d1d1d1));
	background: linear-gradient(to bottom, #fefefe 0%, #d1d1d1 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe', endColorstr='#d1d1d1', GradientType=0);
	/* IE6-9 */
	vertical-align: top;
	text-align: center;
	color: #575f67;
	border-top: solid 1px rgba(168, 168, 168, 0.5);
	border-left: solid 1px rgba(168, 168, 168, 0.5);
	letter-spacing: 2px;
	font-size: 14px;
	text-decoration: none;

}


.icon_bar_text {
	display: block;
	margin-top: 12px;
	text-decoration: none;
}

.icon_bar_marketlist {
	display: block;
	background: url("../img/01-2.png") no-repeat;
	background-size: cover;
	width: 20px;
	height: 20px;
	position: relative;
	top: 8px;
	margin: 0px auto;
}


.icon_bar_trade {
	display: block;
	background: url("../img/02-2.png") no-repeat;
	background-size: cover;
	width: 20px;
	height: 20px;
	position: relative;
	top: 8px;
	margin: 0px auto;
}

.icon_bar_index {
	display: block;
	background: url("../img/03-2.png") no-repeat;
	background-size: cover;
	width: 20px;
	height: 20px;
	position: relative;
	top: 8px;
	margin: 0px auto;
}


.icon_bar_history {
	display: block;
	background: url("../img/04-2.png") no-repeat;
	background-size: cover;
	width: 20px;
	height: 20px;
	position: relative;
	top: 8px;
	margin: 0px auto;
}

.icon_bar_my {
	display: block;
	background: url("../img/05-2.png") no-repeat;
	background-size: cover;
	width: 20px;
	height: 20px;
	position: relative;
	top: 8px;
	margin: 0px auto;
}


.navbar-fixed-bottom {
	bottom: -3px;
}

@media screen and (max-width: 380px) {
	.text {
		display: block;
		margin-top: 22px;
		margin-bottom: 10px;
	}
}

@media screen and (max-width: 360px) {
	.text {
		display: block;
		margin-top: 22px;
		margin-bottom: 11px;

	}
}

@media screen and (max-width: 330px) {

	.shield {
		font-size: 20px;
		letter-spacing: 4px;
	}

	.tabs label {
		font-size: 13px;
	}

	.icon_bar_cell a {
		font-size: 12px;
	}

	.text {
		display: block;
		margin-top: 18px;
		margin-bottom: 8px;
		font-size: 10px;
		vertical-align: top;



	}

}

.menu_block_group {
	width: 100%;
	padding: 15px 10px;
	background-color: transparent;
	text-align: center;
	position: relative;
}

.new_icon {
	background: transparent url("../img/sidemenu_icon/star.png") no-repeat center;
	background-size: cover;
	position: absolute;
	width: 28px;
	height: 28px;
	font-size: 8px;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	padding: 8px 0;
	font-weight: bold;
	-webkit-animation-duration: 0.6s;
	animation-duration: 0.6s;
	-webkit-animation-name: blink;
	animation-name: blink;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	/*animation-direction: alternate;*/
	-webkit-animation: blink 0.6s infinite;
	/ Safari and Chrome / animation-timing-function: linear;
	-webkit-animation-play-state: running;
	animation-play-state: running;
	top: 3px;
	left: 56%;

}

@keyframes blink {
	from {
		color: #ffffff;
	}

	to {
		color: #f0ff00;
	}
}

@-webkit-keyframes blink {
	from {
		color: #ffffff;
	}

	to {
		color: #f0ff00;
	}
}