<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=414,user-scalable=no">
    <title>TG</title>
    <link rel="stylesheet" href="__CSS__/bootstrap.min.css">
    <link rel="stylesheet" href="__CSS__/fontawesome-all.min.css">
    <link rel="stylesheet" href="__CSS__/normalize.css">
    <link rel="stylesheet" href="__CSS__/tab_style.css">
    <link rel="stylesheet" href="__CSS__/side.css">
    <link rel="stylesheet" href="__CSS__/Main_Style.css">
    <link rel="stylesheet" href="__CSS__/trade_detail.css">
    <link rel="stylesheet" href="__CSS__/FIFA_marketlist.css">
    <link rel="stylesheet" href="__CSS__/my_info_chg.css">
    <link rel="stylesheet" href="__CSS__/statistics.css">
    <link rel="stylesheet" href="__CSS__/switch.css">
    <!--theme-->
    <link rel="stylesheet" href="__CSS__/theme/APPui.css">
    <script src="__JS__/jquery-3.2.1.min.js"></script>
    <script src="__JS__/bootstrap.min.js"></script>
    <script src="__JS__/vue.js"></script>
    <script src="__JS__/axios.min.js"></script>
</head>