<nav data-position="left" data-size="65%" data-fx="slide_overlay" class="sidy__panel" id="panel-1">

    <div class="menu_head_bg">
        <div class="menu_head_title" id="menu_head_title"></div>
    </div>
    <div class="menu_block_group">
        <div class="menu_block">
        </div>
        <div class="menu_block">
        </div>
    </div>
    <div class="menu_list">
        <ul>
            <!--<li onclick="location.href='/index/index/statistics'">-->
                <!--<div class="menu_history_stat_icon"></div>-->
                <!--<div class="menu_text">历史统计</div>-->
                <!--<div class="menu_arrow"></div>-->
            <!--</li>-->
            <!--<li onclick="location.href='/index/index/rules'">-->
                <!--<div class="menu_rules_icon"></div>-->
                <!--<div class="menu_text">规则说明</div>-->
                <!--<div class="menu_arrow"></div>-->
            <!--</li>-->
            <li onclick="location.href='/index/login/loginOut'">
                <div class="menu_logout_icon"></div>
                <div class="menu_text">登　出</div>
                <div class="menu_arrow"></div>
            </li>
        </ul>
    </div>
</nav>
