<div class="head_banner nav-bar navbar-fixed-top" id="topLink">
    <div data-panel="panel-1" class="sidy--to-open menu_btn" onclick="siidyy();" style="cursor: pointer;">
        <span></span><br>
        <span></span><br>
        <span></span><br>
    </div>
    <input type="hidden" id="memberQuota" name="memberQuota" value="0.00">
</div>
<div class="title_background ">
    <div class="title_market">
        <div id="markettitle" name="markettitle">市场列表</div>
    </div>
    <div class="mail"><img src="__IMG__/theme/APPui/mail.png" height="18" width="27"><span onclick="document.location.href='announce.html'" class="message_number"></span></div>
</div>
<div class="icon_bar navbar-fixed-bottom" id="navs">
    <div class="icon_bar_row">
        <div class="icon_bar_cell" v-show="level==2">
            <a id="market_a" name="market_a" href="/index/index/add_agent">
                <div class="icon_bar_marketlist"></div>
                <div class="icon_bar_text">添加业务员</div>
            </a>
        </div>
        <!--<div class="icon_bar_cell"><a id="orderinfo_a" name="orderinfo_a" href="/index/index/orderinfo"><div class="icon_bar_trade"></div><div class="icon_bar_text">成员列表</div></a></div>-->
        <div class="icon_bar_cell"><a class="active" href="/index/index/index"><div class="icon_bar_index"></div><div class="icon_bar_text">首　页</div></a></div>
        <!--<div class="icon_bar_cell"><a name="history_a" id="history_a" href="/index/index/history"><div class="icon_bar_history"></div><div class="icon_bar_text">数据统计</div></a></div>-->
        <div class="icon_bar_cell"><a name="my_a" id="my_a" href="/index/index/my"><div class="icon_bar_my"></div><div class="icon_bar_text">我　的</div></a></div>
    </div>
    <div id="Modal_coverchgall" class="cover"></div>
</div>
<script>
    var app = new Vue({
        el : "#navs",
        data: {
                is_y : 0,
                level : 0,
        },
        created () {
            this.get_level();
        },
        methods: {
            get_level () {
                let vm = this;
                axios
                    .get('/index/index/get_level')
                    .then(function (response) {
                        console.log(response);
                        if(response.data.code==1) {
                            vm.level = response.data.level;
                        }
                    })
                    .catch(function (error) { // 请求失败处理
                        console.log(error);
                    });
            },
        }
    });

</script>